#navigationListID {
    padding-left: 0 !important;
}

.navigation {
    margin: 0 !important;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
}

.navigation li {
    display: inline-block;
    cursor: pointer;
}

.navigation li :hover {
    background-color: #283655;
}

.navigation a {
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
}

#navigationRow {
    background: #1E1F26;
    position: fixed;
    z-index: 9;
    margin-bottom: inherit;
}

#navigationBuffer {
    padding-top: 4em;
}