.fa-facebook path {
    color: #3B5998;
}

.fa-twitter path {
    color: #00ACEE;
}

.fa-linkedin path {
    color: #0077B5;
}

.fa-gitlab path {
    color: #E2432A;
}

.socialMediaList {
    padding-left: 0;
}

.socialMediaList li {
    list-style: none;
    display: inline-block;
    padding: .5em .5em;
}