#aboutMe {
    background: #333333;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.centerTextDiv {
    text-align: center;
    width: 70%;
}

.socialMediaHeader {
    margin: 2px;
}